.light {
  color: #000000 !important;
  background-color: white !important;
  transition: all cubic-bezier(0.17, 0.67, 0.83, 0.67) 0.25s !important;
  height: 100vh;
}
.dark {
  color: #ffffff !important;
  background: #222222 !important;
  transition: all cubic-bezier(0.17, 0.67, 0.83, 0.67) 0.25s !important;
  height: 100vh;
}

/* Body {
  background-color: #181818 !important;
  color: white !important;
  transition: all cubic-bezier(0.17, 0.67, 0.83, 0.67);
} */
